doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shotcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}

  body(data-alert=`${alert ? alert : ''}`)
    .modal.hiddenModal
      button.close-modal &times;
      .signup-form
        h2.heading-secondary.ma-bt-lg Sign up for free!
        form.form.form--signup
          .form__group
            label.form__label(for='name') Your name
            input#nameSignup.form__input(type='name', placeholder='Your name', required)
          .form__group
            label.form__label(for='email') Email address
            input#emailSignup.form__input(type='email', placeholder='you@example.com', required)
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#passwordSignup.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
            label.form__label(for='password') Password confirm
            input#passwordConfirmSignup.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Sign up!
    .overlay.hiddenModal

    // HEADER
    include _header

    //- Content
    block content 
      h1 This is a placeholder heading

    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')

